.navbar {
  background-color: black !important;
  padding: 16px;
  font-family: 'evolventa', Arial, sans-serif;
  font-size: 1em;
  color: #9d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.nav-link{
  font-family: 'evolventa', Arial, sans-serif;
  font-size: 1.2em;
  color: #9d2d2d;
  margin-left: 30px;
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: #9d2d2d;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  background-color: #9d2d2d;
  color: black;
  border-radius: 5px;
}
.nav-link:active {
  background-color: #9d2d2d;
  color: black;
  border-radius: 5px;

}

.code_block{
  font-family: 'evolventa', Arial, sans-serif;
  padding: 10px;
}
.code_block:hover{
  font-family: 'evolventa', Arial, sans-serif;
  padding: 20px;
}

.links{
  color: #9d2d2d;
  text-decoration: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
}


